body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
}

.header-logo {
    font-size: 24px;
}

ul {
    list-style-type: none;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}